<!-- your html code here -->
<div class="p-4">
    <div class="portfolio">
        <h1>Portfolio</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi ullam cupiditate harum praesentium error
            necessitatibus provident perspiciatis voluptatem recusandae ab, rerum distinctio exercitationem quisquam
            saepe
            fugiat porro impedit molestiae accusantium.</p>
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <div class="card">
                        <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-primary">Project Name</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. At quae
                                impedit
                                accusamus, in illo labore voluptate tempora facere delectus nulla cumque consequatur,
                                nam
                                architecto quo ipsam perspiciatis! Tenetur, dolore labore.</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card">
                        <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-primary">Projec Name</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. At quae
                                impedit
                                accusamus, in illo labore voluptate tempora facere delectus nulla cumque consequatur,
                                nam
                                architecto quo ipsam perspiciatis! Tenetur, dolore labore.</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card">
                        <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-primary">Project Name</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo rem quasi
                                voluptate placeat ipsam ullam ratione perferendis qui, ut doloribus provident? Nemo id
                                voluptas, fugit harum ad quisquam culpa ab..</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr style="color: #d3cecec1;" />
</div>