<!-- your html code here -->
<div class="p-4">
    <div class="portfolio">
        <h1>Portfolio</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, blanditiis sequi quisquam esse velit omnis neque odit corrupti sunt aliquam delectus sapiente molestias a harum? Distinctio at facilis nemo beatae!</p>
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <div class="card">
                        <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-primary">Project Name</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque vitae placeat odio sequi consequatur neque repudiandae aliquid aut veniam magnam fugit est sed officiis ullam architecto tenetur harum, cupiditate molestias.</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card">
                        <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-primary">Projec Name</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae magnam, odit voluptates, laudantium quas adipisci tempora asperiores culpa voluptatem excepturi corporis eaque iure laboriosam iste eius? Explicabo architecto ab nulla.</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card">
                        <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-primary">Project Name</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, officiis nulla aut minima est reprehenderit perspiciatis sit illum molestias, exercitationem saepe dignissimos dicta natus minus. Explicabo praesentium nesciunt dignissimos tenetur.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr style="color: #d3cecec1;" />
</div>