<!-- your html code here -->    <div class="col-md-4 d-flex justify-content-end p-0 ps-5">
        <img src="assets/img/2.jpg" class="img-fluid rounded-circle" alt="...">
    </div>
    <div class="col-md-8 pe-5">
        <h3 class="text-capitalize"><span>
                the second heading
            </span>
            <span class="text-secondary"> is pretty cool too </span>
        </h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum, voluptatem eius voluptatum optio sint
            omnis
            quia impedit voluptates sequi provident officia quidem odit eaque maxime eligendi mollitia corrupti ut
            pariatur!</p>

    </div>
    <div class="col-md-12 p-5">

        <hr style="color: #d3cecec1;" />
    </div>
</div>
